<?xml version="1.0" ?>
<Moviesandbox>

     <Rendersettings
      WindowSizeX="1280"
      WindowSizeY="720"
      ScreenSizeX="1280"
      ScreenSizeY="720"
      bRenderStereo="0"

      bFullScreen="0"

      BackgroundTex="background"

      bDrawLighting="1"
      bMultisample="0"
      numSamples="2"

      ShadowSize="256"
      LightingSize="512"
      SceneSize="1024"

      MouseSensitivity="0.04"
      MoveSpeed="8.0"
      FOV="45"
      StartSceneFile="blank.scene">
    </Rendersettings>

    <ExternalInput taskName="kinectInput" filenameWin32="tools/msbKinect/msbKinect.exe" filenameOSX="tools/msbKinect/msbKinect.app/" />
    <ExternalInput taskName="audioInput" filenameWin32="tools/AudioTool.exe" filenameOSX="NULL" />
    <ExternalInput taskName="joystickInput" filenameWin32="tools/Multi HID Input.exe" filenameOSX="NULL" />

    <Library Library="resources/basic.library" />
    <Library Library="resources/my.library" />

</Moviesandbox>
