<?xml version="1.0" ?>
<Moviesandbox>
    <Settings WindowSizeX="1024" WindowSizeY="768" ScreenSizeX="1024" ScreenSizeY="768" bRenderStereo="0" bFullScreen="0" BackgroundTex="background" bDrawLighting="1" bMultisample="0" numSamples="0" ShadowSize="1024" LightingSize="1024" SceneSize="1024" MouseSensitivity="0.04" MoveSpeed="8.0" FOV="45" StartProject="C:/Moviesandbox/projects/lightProject" />
    <ExternalInput taskName="moviesandbox" filenameWin32="./Moviesandbox.exe" filenameOSX="./Moviesandbox.app/" />
    <ExternalInput taskName="kinectInput" filenameWin32="tools/msbKinect/msbKinect.exe" filenameOSX="tools/msbKinect/msbKinect.app/" />
    <ExternalInput taskName="audioInput" filenameWin32="tools/AudioTool.exe" filenameOSX="NULL" />
    <ExternalInput taskName="joystickInput" filenameWin32="tools/Multi HID Input.exe" filenameOSX="NULL" />
    <Library Library="resources/basic.library" />
</Moviesandbox>
