<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>@title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body> 
<div id="page"> 
  <div id="describtion"> 
    <h1>@title</h1> 
    <h2>index</h2> 
  </div> 
  <div id="point"> 
    <div id="pointname"> name </div> 
    <div id="pointcontent"> @name </div> 
  </div> 
  <div id="point"> 
    <div id="pointname"> example </div> 
    <div id="pointcontent"> 
      <pre>@example</pre> 
    </div> 
  </div> 
  <div id="point"> 
    <div id="pointname"> description </div> 
    <div id="pointcontent">@description</div> 
  </div> 
  <div id="point"> 
    <div id="pointname"> constructors </div> 
    <div id="pointcontent"> 
      <pre>@syntax</pre> 
    </div> 
  </div> 
  @parameters @fields @methods
  <div id="point"> 
    <div id="pointname"> usage </div> 
    <div id="pointcontent">@usage</div> 
  </div> 
  <div id="point"> 
    <div id="pointname"> related </div> 
    <div id="pointcontent">@related</div> 
  </div> 
</div> 
</body>
</html>
