<?xml version="1.0" ?>
<Moviesandbox>

    <Rendersettings



      WindowSizeX="1024"
      WindowSizeY="768"
      ScreenSizeX="1024"
      ScreenSizeY="768"
      bRenderStereo="0"

      bFullScreen="0"

      BackgroundTex="NULL"

      bDrawLighting="0"
      bMultisample="0"
      numSamples="1"

      ShadowSize="768"
      SceneSize="768"

      MouseSensitivity="0.04"
      MoveSpeed="8.0"
      FOV="45"
      StartSceneFile="blank.scene">
    </Rendersettings>

    <Library Library="basic.library" />

</Moviesandbox>
